.intro {
	display: flex; /* Use flexbox to arrange divs side by side */
}

.intro-image {
	width: 50%; /* Each box takes 50% width */
	padding: 20px;
	box-sizing: border-box;
}

.intro-image img { /* Each box takes 50% width */
	height: 20%
	width: auto;
}

.intro-text {
	width: 50%; /* Each box takes 50% width */
	padding: 20px;
	box-sizing: border-box;
}



