.intro {
	text-align: center;
}

.about {
	display: flex; /* Use flexbox to arrange divs side by side */
}

.about-image {
	width: 30%; /* Each box takes 50% width */
	padding: 20px;
	box-sizing: border-box;
}

.about-image img{
	max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 200px;
}

.about-text {
	width: 60%; /* Each box takes 50% width */
	padding: 20px;
	box-sizing: border-box;
}



